<h1>New player</h1>

<form id="new-player" name="player">
  <div class="field">
    <label for="team"> team:</label>
    <input type="text" name="team" id="team" value="<%= team %>" >
  </div>

  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="sotw"> sotw:</label>
    <input type="text" name="sotw" id="sotw" value="<%= sotw %>" >
  </div>

  <div class="field">
    <label for="ps3_bin"> ps3_bin:</label>
    <input type="text" name="ps3_bin" id="ps3_bin" value="<%= ps3_bin %>" >
  </div>

  <div class="field">
    <label for="ps3_auction"> ps3_auction:</label>
    <input type="text" name="ps3_auction" id="ps3_auction" value="<%= ps3_auction %>" >
  </div>

  <div class="field">
    <label for="xbox_bin"> xbox_bin:</label>
    <input type="text" name="xbox_bin" id="xbox_bin" value="<%= xbox_bin %>" >
  </div>

  <div class="field">
    <label for="xbox_auction"> xbox_auction:</label>
    <input type="text" name="xbox_auction" id="xbox_auction" value="<%= xbox_auction %>" >
  </div>

  <div class="field">
    <label for="skate_high"> skate_high:</label>
    <input type="text" name="skate_high" id="skate_high" value="<%= skate_high %>" >
  </div>

  <div class="field">
    <label for="show_low"> show_low:</label>
    <input type="text" name="show_low" id="show_low" value="<%= show_low %>" >
  </div>

  <div class="field">
    <label for="hand_quick"> hand_quick:</label>
    <input type="text" name="hand_quick" id="hand_quick" value="<%= hand_quick %>" >
  </div>

  <div class="field">
    <label for="check_position"> check_position:</label>
    <input type="text" name="check_position" id="check_position" value="<%= check_position %>" >
  </div>

  <div class="field">
    <label for="defense_rebound"> defense_rebound:</label>
    <input type="text" name="defense_rebound" id="defense_rebound" value="<%= defense_rebound %>" >
  </div>

  <div class="field">
    <label for="position"> position:</label>
    <input type="text" name="position" id="position" value="<%= position %>" >
  </div>

  <div class="field">
    <label for="overall"> overall:</label>
    <input type="text" name="overall" id="overall" value="<%= overall %>" >
  </div>

  <div class="field">
    <label for="true_overall"> true_overall:</label>
    <input type="text" name="true_overall" id="true_overall" value="<%= true_overall %>" >
  </div>

  <div class="field">
    <label for="player_type"> player_type:</label>
    <input type="text" name="player_type" id="player_type" value="<%= player_type %>" >
  </div>

  <div class="field">
    <label for="handed"> handed:</label>
    <input type="text" name="handed" id="handed" value="<%= handed %>" >
  </div>

  <div class="field">
    <label for="salary"> salary:</label>
    <input type="text" name="salary" id="salary" value="<%= salary %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Player" />
  </div>

</form>

<a href="#/index">Back</a>