<td><%= team.name %></td>
<td><%= name %></td>
<td><%= sotw %></td>
<td><%= ps3_bin %></td>
<td><%= ps3_auction %></td>
<td><%= xbox_bin %></td>
<td><%= xbox_auction %></td>
<td><%= skate_high %></td>
<td><%= shot_low %></td>
<td><%= hand_quick %></td>
<td><%= check_position %></td>
<td><%= defense_rebound %></td>
<td><%= position %></td>
<td><%= overall %></td>
<td><%= true_overall %></td>
<td><%= player_type %></td>
<td><%= handed %></td>
<td><%= salary %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
