<p>
  <b>Team:</b>
  <%= team %>
</p>

<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Sotw:</b>
  <%= sotw %>
</p>

<p>
  <b>Ps3 bin:</b>
  <%= ps3_bin %>
</p>

<p>
  <b>Ps3 auction:</b>
  <%= ps3_auction %>
</p>

<p>
  <b>Xbox bin:</b>
  <%= xbox_bin %>
</p>

<p>
  <b>Xbox auction:</b>
  <%= xbox_auction %>
</p>

<p>
  <b>Skate high:</b>
  <%= skate_high %>
</p>

<p>
  <b>Show low:</b>
  <%= show_low %>
</p>

<p>
  <b>Hand quick:</b>
  <%= hand_quick %>
</p>

<p>
  <b>Check position:</b>
  <%= check_position %>
</p>

<p>
  <b>Defense rebound:</b>
  <%= defense_rebound %>
</p>

<p>
  <b>Position:</b>
  <%= position %>
</p>

<p>
  <b>Overall:</b>
  <%= overall %>
</p>

<p>
  <b>True overall:</b>
  <%= true_overall %>
</p>

<p>
  <b>Player type:</b>
  <%= player_type %>
</p>

<p>
  <b>Handed:</b>
  <%= handed %>
</p>

<p>
  <b>Salary:</b>
  <%= salary %>
</p>


<a href="#/index">Back</a>